<div class="container-fluid bg-dark">
  <nav class="row " aria-label="breadcrumb">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ol class="breadcrumb bg-dark">
        <li class="breadcrumb-item text-muted"  aria-current="page" [routerLink]="['/review']" [routerLinkActive]="'active'">
          Reserva
        </li>
        <li class="breadcrumb-item disabled text-muted"  aria-current="page" [routerLink]="['/confirmation']" [routerLinkActive]="'active'">
          Confirmación
        </li>
      </ol>
    </div>
  </nav>
</div>
